#content {
    max-width: 1600px; 
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero-msg {
    text-align: center;
}


.button-box{
    text-align: center;
    background-color: #FFC49B;
    border: none;
    color:#001B2E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    

}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #001B2E;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

h2 {
    margin: 0;
}
header {
    background-color:  #001B2E;
}

nav a {
    color:#FFC49B;
    text-decoration: none;
}

.home-title {
    color:#294C60;
    font-family: Rubic Dirt, Arial, sans-serif ;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color:#FFEFD3;
}

nav a:hover {
    color: #294C60;
}


.book{
    background-color:#FFC49B;
    color: #ADB6C4;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
   
    
    
   
   
    
  
   

} .join {
    color: #FFEFD3;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid;
}

.book:hover  {
    color: #FFEFD3;
}

.join:hover {
    color:#001B2E;
}

.msg h2 {
    color:#001B2E;
    font-family: Rubic Dirt, Arial, sans-serif;
}

#background {
    background-color: #FFC49B ;
}

.msg {
    background-color: #ADB6C4;
    color:#294C60;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: #ADB6C4;
    padding: 25px 50px;
}

footer h3 {
    color:#ADB6C4;
}

footer a {
    color:#001B2E;
    text-decoration: none;
}

footer a:hover{
    color:#294C60;
}
.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
    margin-top: 20px;
}

footer p a:hover {
    text-decoration: underline;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
  }  


#logo_link   {
    padding-top: 5px;
}
  

 

 
 
footer .social img {
  padding-top: 15px;
}  

.rivers-card{
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}





    




  