
body {
    background-color: lightblue;
    text-align: center;
    border-color: white;
    border-style: double;
    border-width: 10px;
}

h1 {
    color: white;
    text-align: center;
    border-width: 10px;
    border-color: white;
    border-style: groove;
    font-size: 60px;
}


h2 {
    border-width: 10px;
    border-color: white;
    font-size: 40px;
}

p {
    font-family: verdana;
    text-align:justify;
    font-size: 20px;
    border-width: 10px;
    border-color: white;
    border-style: groove;
    margin-left:10%;
    margin-right:10%;
    
    
    
}

img {
    max-width: 40%;
    height:fit-content;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
